.container {
  width: 70%;
  margin: 0 auto;
}

.name {
  width: 50%;
}

.actions {
  width: 30%;
  display: flex;
  align-items: left;
  gap: 1rem;
}

.price {
  width: 15%;
}

@media screen and (max-width: 800px) {
  .container {
    width: 100%;
  }
}
