.container {
  width: 50%;
  margin-top: 6rem;
  max-width: 90%;
}

@media screen and (max-width: 1000px) {
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 650px) {
  .container {
    width: 100%;
  }
}
