.footer {
  background-color: #212529;
  font-family: inherit;
  width: 100%;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  padding: 50px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* footer left*/

.footer .footer-left {
  width: 33%;
  padding-right: 15px;
}

.footer .about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.1;
}

.footer .icons {
  margin-top: 25px;
}

.footer .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

/* footer center*/

.footer .footer-center {
  width: 30%;
  display: inline-flex;
  flex-direction: column;
  gap: 1rem;
}

.footer .footer-center div {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: left;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: #0099ff;
  text-decoration: none;
}

/* footer right*/

.footer .footer-right {
  width: 35%;
}

.footer h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.footer h2 span {
  color: #0099ff;
}

.footer .menu {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer .menu a:hover {
  color: #0099ff;
}

.footer .name {
  color: #0099ff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    width: 100%;
  }
  .footer .footer-right {
    grid-column: 1/-1;
    text-align: center;
  }
}

@media (max-width: 770px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    padding: 1.5rem;
    margin-top: 1.5rem;
  }
  .footer .footer-left {
    grid-column: 1/-1;
  }
  .footer .footer-right {
    grid-column: 2/3;
  }

  .footer .footer-center,
  .footer .footer-right {
    margin-left: 0;
    font-size: small;
  }

  .footer .footer-center div p {
    width: 70%;
  }
}

@media screen and (max-width: 1200px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    width: 100%;
  }
  .footer .footer-right {
    grid-column: 1/-1;
    text-align: center;
  }
}

@media (max-width: 570px) {
  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0;
    padding: 1rem;
    margin-top: 1rem;
  }

  .footer .footer-center,
  .footer .footer-right {
    margin: 0;
    font-size: small;
  }

  .footer .footer-right h2 {
    font-size: x-large;
  }

  .footer .footer-right svg {
    width: 50px;
  }

  .footer .footer-right p {
    margin: 0;
  }

  .footer .footer-center div p {
    width: 70%;
  }

  .footer .icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
