.container a:link {
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0.55);
  border-radius: 10px 0 10px 0;
  margin-left: 1rem;
  transition: all 0.35s ease-in-out;
}

.container a:hover,
.container a:active {
  border-color: #ffffff;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

@media screen and (max-width: 1000px) {
  .container a:link {
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
  }
}
